body{
   margin-left: 100px;
    margin-right: 100px;
     background-color:#ecf0f1;
}
#logo{
    width: 200px;
    background-color:#e74c3c;
    width:100%;
    height: 80px;
    position: relative;
 
    
}
#font1{
   
    font-size: 20px;
    color: #ecf0f1 ;
    top: 2px;
    font-family: sans-serif;
    float: left;
    
}
#font2{
    
    font-size: 20px;
    color: #ecf0f1;
    float: right;
}
#column1{
   text-align: left;
    width: 610px;
    
}
#column2{
    text-align: right;
    font-size: 15px;
    width: 710px;
    color: #e74c3c;

    
}
.body_main{
    width: 1150px;
    margin: auto;
}
.body_left{
    width: 25%;
    margin: 0px 0px 2px;
    float: left;
    min-height: 1100px;
}
.body_right{
    width: 73%;
    margin: 0% 0px 2% 2%;
    background-color: #e74c3c;
    float: right;
    background-color: white;
    color: #e74c3c;
    height: 500px
   
}
/*---body_left---*/
#div_title{
    text-align: center;
}
/*----danh mục menu ----*/
div.abc{
    width: 80%;
    padding: 5% 10%;
    margin: 0px 0px 5%;
    background-color: #e74c3c;
    color: #ecf0f1;
    font-weight: bold;
    border-radius: 10px;
}
.abc ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.abc li{
    padding: 10px 0px 10px 10%;
    border-bottom: 1px solid #2d2d2d;
}
.abc a{    
    text-decoration: none;
    color:#ecf0f1;
    font-weight: bold;
}
.abc a:hover{
    color: #2d2d2d;
}
.footer{
    width: 85%;
    height: 220px;
    top: 800px;
    text-align: center;
    background-color: #2d2d2d;
    clear: both;
    color: #ecf0f1;
    position: absolute;

}
